<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Anagram</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
                <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
                <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />       
                </head>
                <body>

                    <div class="container">
                        <form class="was-validated" method="post" th:action="@{/upload}" enctype="multipart/form-data" style="padding-top: 80px;">

                            <div class="custom-file" style="margin-bottom: 10px;">
                                <input type="file" accept=".txt" name="file" class="form-control-file" id="validatedCustomFile" required>
                            </div>                                                        

                            <button type="submit" class="btn btn-primary">Upload & Process...</button>

                            <div class="form-group" style="padding-top: 50px; padding-bottom: 20px;">
                                <label for="exampleFormControlSelect1">Output:</label>
                                <textarea disabled class="form-control" id="textcontent"  name="textcontent" rows="10" th:text="${output}"></textarea>
                            </div>
                            
                        </form>

                        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(message1)}">
                            <span th:text="${message1}"></span>  
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(message2)}">
                            <span th:text="${message2}"></span>  
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                    </div>
                    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
                </body>
                </html>